<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>MY APP</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
  <script src="/js"></script>
</head>

<body>
  
  <form id='idForm'>
    <div>
      <p>ID</p>
      <input type="text" placeholder="id" name="id"><br>
      <hr>
      <p>Name</p>
      <input type="text" placeholder="name" name="name"><br>
      <p>lastName</p>
      <input type="text" placeholder="lastname" name="lastname"><br>
      <p>resume</p>
      <ul>
        <li><input class="upload-input" type="file" name="cv"><br></li>
      </ul>
      <a href="#" class="create">create</a>
      <a href="#" class="update">Update</a>
      <a href="#" class="remove">remove</a>
      <a href="#" class="populateBD">populate</a>
    </div>
  </form>

  
</body>

</html>