<div ng-controller="detailsController">
<div class="details-head form-group clearfix text-right" ng-model="users">
	<div class="pull-left">
		<a class="btn btn-primary btn-lg btn-back" ui-sref="home.search">
			<i class="zmdi zmdi-arrow-left zmdi-hc-lg"></i>
		</a>
		<span>{{user.name}} {{user.lastname}} Profile</span>
	</div>
	<div class="btn-group">
	  <button type="button" class="btn btn-default btn-lg"><i class="zmdi zmdi-delete zmdi-hc-lg"></i></button>
	  <button type="button" class="btn btn-default btn-lg"><i class="zmdi zmdi-save zmdi-hc-lg"></i></button>
	</div>
</div>
<label class="control-label"><i class="zmdi zmdi-account"></i> Employee Information</label>
<div class="row">
	<div class="col-sm-3 col-xs-6">
		<div class="form-group">
			<input class="form-control" placeholder="First Name" type="text" value="{{user.name}}" />
		</div>
	</div>
	<div class="col-sm-3 col-xs-6">
		<div class="form-group">
			<input class="form-control" placeholder="Last Name" type="text" value="{{user.lastname}}" />
		</div>
	</div>
	<div class="col-sm-3 col-xs-6">
		<div class="form-group">
			<select class="form-control">
				<option ng-repeat="country in countries" value="{{country.name}}" ng-selected="country.name == user.country.name">{{country.name}}</option>
			</select>
		</div>
	</div>
</div>
<label class="control-label"><i class="zmdi zmdi-city"></i> Company Status</label>
<div class="row">
	<div class="col-sm-3 col-xs-6">
		<div class="form-group">
			<select class="form-control">
				<option ng-repeat="category in categories" value="{{category.name}}" ng-selected="category.name == user.category.name">{{category.name}}</option>
			</select>
		</div>
	</div>
	<div class="col-sm-3 col-xs-6">
		<div class="form-group">
			<select class="form-control">
				<option ng-repeat="role in roles" value="{{role.name}}" ng-selected="role.name == user.role.name">{{role.name}}</option>
			</select>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<label class="control-label"><i class="zmdi zmdi-case"></i> Skills</label>
		<div class="input-group form-group">
			<input type="text" class="form-control" placeholder="Add new skill">
			<span class="input-group-btn">
				<button class="btn btn-primary" type="button">
					<i class="zmdi zmdi-plus zmdi-hc-lg"></i>
				</button>
			</span>
		</div>	
		<ul class="list-unstyled">
			<li class="clearfix text-right">
				<span class="pull-left">
					<i class="zmdi zmdi-star text-warning"></i> HTML
				</span>
				<a class="zmdi zmdi-delete zmdi-hc-lg"></a>
			</li>
		</ul>
	</div>
	<div class="col-sm-4 col-sm-offset-2">
		<label class="control-label"><i class="zmdi zmdi-account-box"></i> Availability</label>
		<div class="form-group">
			<a class="btn btn-primary">
				<i class="zmdi zmdi-open-in-new"></i> Book John
			</a>
		</div>
		<div class="row">
			<div class="col-sm-5">
				<table class="table table-book text-center">
					<thead>
						<tr>
							<th>M</th>
							<th>T</th>
							<th>W</th>
							<th>R</th>
							<th>F</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><i data-toggle="tooltip" title="01/05/2016" class="zmdi zmdi-circle text-danger"></i></td>
							<td><i data-toggle="tooltip" title="01/05/2016" class="zmdi zmdi-circle text-danger"></i></td>
							<td><i data-toggle="tooltip" title="01/05/2016" class="zmdi zmdi-circle text-danger"></i></td>
							<td><i data-toggle="tooltip" title="01/05/2016" class="zmdi zmdi-circle text-danger"></i></td>
							<td><i data-toggle="tooltip" title="01/05/2016" class="zmdi zmdi-circle text-danger"></i></td>
						</tr>
						<tr>
							<td><i data-toggle="tooltip" title="01/05/2016" class="zmdi zmdi-circle text-danger"></i></td>
							<td><i data-toggle="tooltip" title="01/05/2016" class="zmdi zmdi-circle text-danger"></i></td>
							<td><i data-toggle="tooltip" title="01/05/2016" class="zmdi zmdi-circle text-danger"></i></td>
							<td><i data-toggle="tooltip" title="01/05/2016" class="zmdi zmdi-circle text-danger"></i></td>
							<td><i data-toggle="tooltip" title="01/05/2016" class="zmdi zmdi-circle text-danger"></i></td>
						</tr>
						<tr>
							<td><i data-toggle="tooltip" title="01/05/2016" class="zmdi zmdi-circle text-danger"></i></td>
							<td><i data-toggle="tooltip" title="01/05/2016" class="zmdi zmdi-circle text-success"></i></td>
							<td><i data-toggle="tooltip" title="01/05/2016" class="zmdi zmdi-circle text-success"></i></td>
							<td><i data-toggle="tooltip" title="01/05/2016" class="zmdi zmdi-circle text-success"></i></td>
							<td><i data-toggle="tooltip" title="01/05/2016" class="zmdi zmdi-circle text-success"></i></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</div>