<div class="form-group has-feedback">
	<input type="text" class="form-control input-lg" placeholder="Search..." ng-model="search">
	<i class="zmdi zmdi-search zmdi-hc-lg form-control-feedback" aria-hidden="true"></i>
</div>

<label class="control-label"><i class="zmdi zmdi-filter-list"></i> Filter by</label>
<div class="row">
	<div class="col-sm-3 col-xs-6">
		<div class="form-group">
			<select class="form-control" ng-model="countryFilter">
				<option value="{{undefined}}">All</option>
				<option ng-repeat="country in countries" value="{{country.name}}">{{country.name}}</option>
			</select>
		</div>
	</div>
	<div class="col-sm-3 col-xs-6">
		<div class="form-group">
			<select class="form-control" ng-model="categoryFilter">
				<option value="{{undefined}}">All</option>
				<option ng-repeat="category in categories" value="{{category.name}}">{{category.name}}</option>
			</select>
		</div>
	</div>
	<div class="col-sm-3 col-xs-6">
		<div class="form-group">
			<select class="form-control" ng-model="roleFilter">
				<option value="{{undefined}}">All</option>
				<option ng-repeat="role in roles" value="{{role.name}}">{{role.name}}</option>
			</select>
		</div>
	</div>
</div>
<br>
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Position</th>
				<th>Role</th>
				<th>Country</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in filteredUsers = (users | filter: search | filter: countryFilter | filter: categoryFilter | filter: roleFilter) | startFrom:currentPage*pageSize | limitTo:pageSize"">
				<td><a ui-sref="details">{{user.name + ' ' + user.lastname}}</a></td>
				<td>{{user.category.name}}</td>
				<td>{{user.role.name}}</td>
				<td>{{user.country.name}}</td>
				<td>
					<div class="clearfix">
						<ul class="pull-right dates">
							<li ng-repeat="date in dates track by $index" ng-class="getBreakLine(date, $index)">
								<div class="days" data-toggle="tooltip" data-original-title="{{date | date}}" data-placement="bottom" ng-class="getCSSClass(user, date)">
								</div>
							</li>	
						</ul>
					</div>
				</td>

				<!-- <td>
					<div class="clearfix">
						<div class="pull-right">
							<div ng-repeat="date in dates" ng-class="{block: ($index +1) % 6}">
						      <div class="days" data-toggle="tooltip" title="{{date | date}}" data-placement="bottom"></div>
						    </div>	
						</div>
					</div>
				</td> -->
			</tr>
		</tbody>
	</table>
</div>
<div class="text-center">
	<ul class="pagination" ng-show="filteredUsers.length>pageSize">
		<li ng-repeat="page in pageArray" ng-class="{active : currentPage==page}">
			<a href="" ng-click="$parent.currentPage=page">{{page+1}}</a>
		</li>
	</ul>
</div>