<div class="form-group has-feedback">
	<input type="text" class="form-control input-lg" placeholder="Search" ng-model="search">
	<i class="zmdi zmdi-search zmdi-hc-lg form-control-feedback" aria-hidden="true"></i>
</div>
<div class="row">
	<div class="col-sm-4 col-xs-6 col-xxs-12">
		<div class="form-group">
			<label class="control-label"><i class="zmdi zmdi-globe"></i> Country</label>
			<select class="form-control input-lg" ng-model="countryFilter">
				<option value="{{undefined}}">All</option>
				<option ng-repeat="country in countries" value="{{country.name}}">{{country.name}}</option>
			</select>
		</div>
	</div>
	<div class="col-sm-4 col-xs-6 col-xxs-12">
		<div class="form-group">
			<label class="control-label"><i class="zmdi zmdi-code-setting"></i> Category</label>
			<select class="form-control input-lg" ng-model="categoryFilter">
				<option value="{{undefined}}">All</option>
				<option ng-repeat="category in categories" value="{{category.name}}">{{category.name}}</option>
			</select>
		</div>
	</div>
	<div class="col-sm-4 col-xs-6 col-xxs-12">
		<div class="form-group">
			<label class="control-label"><i class="zmdi zmdi-case"></i> Role</label>
			<select class="form-control input-lg" ng-model="roleFilter">
				<option value="{{undefined}}">All</option>
				<option ng-repeat="role in roles" value="{{role.name}}">{{role.name}}</option>
			</select>
		</div>
	</div>
</div>
<br>
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th ng-show="auth">Name</th>
				<th>Country</th>
				<th>Category</th>
				<th>Role</th>
				<th>Resume</th>
				<th class="text-right">
					<span class="days-table">M</span>
					<span class="days-table">T</span>
					<span class="days-table">W</span>
					<span class="days-table">R</span>
					<span class="days-table">F</span>
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="user in filteredUsers = (users | filter: search | filter: countryFilter | filter: categoryFilter | filter: roleFilter) | startFrom:currentPage*pageSize | limitTo:pageSize">
				<td ng-show="auth"><a ui-sref="details({ userId: user._id })" ng-click="test()">{{user.name + ' ' + user.lastname}}</a></td>
				<td>{{user.country.name}}</td>
				<td>{{user.role.category.name}}</td>
				<td>{{user.role.name}}</td>
				<td><a><i class="zmdi zmdi-file-plus"></i> View Resume</a></td>
				<td>
					<div class="clearfix">
						<ul class="pull-right dates">
							<li ng-repeat="date in dates track by $index" ng-class="getBreakLine(date, $index)">
								<div class="days" data-toggle="tooltip" data-original-title="{{date | date}}" data-placement="bottom" ng-class="getCSSClass(user, date)">
								</div>
							</li>	
						</ul>
					</div>
				</td>
				<td><a ui-sref="booking({ userId: user._id })">Different Dates</a></td>
			</tr>
		</tbody>
	</table>
</div>

<div class="clearfix">
	<ul class="pagination pagination-lg pull-left" ng-show="filteredUsers.length>pageSize">
		<li ng-repeat="page in pageArray" ng-class="{active : currentPage==page}">
			<a href="" ng-click="$parent.currentPage=page">{{page+1}}</a>
		</li>
	</ul>
	<p class="pull-right booking-info">
		<small><i class="zmdi zmdi-circle text-success"></i> Available</small>
		|
		<small><i class="zmdi zmdi-circle text-danger"></i> Booked</small>
		|
		<small><i class="zmdi zmdi-circle text-muted"></i> Not Available</small>
	</p>
</div>