$icon-font-path: '../fonts/';

@import "core/variables";

// Custom Bootstrap
@import "vendors/bootstrap/variables";
@import "vendors/bootstrap/bootstrap";


// Custom Helpers
@import "helpers/mixins";
@import "helpers/utils";


// Core
@import "core/fonts";

// Custom Modulos
@import "modules/scaffolding";
@import "modules/footer";
@import "modules/header";
@import "modules/details";


.algo {
	display: inline-block;

	ul {	
		padding: 10px 0;
		margin: 0;
		font-size: 0;

		li {
			background-color: red;
			border-radius: 50%;
			height: 10px;
			width: 10px;
			margin: 0 10px;
			display: inline-block;
			font-size: 10px;
		}
	}
}