<!doctype html>
<html class="no-js" lang="" ng-app="flexApp">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flex Booking App</title>
    <meta name="description" content="description">
    <meta name="keywords" content="jgatjens, webapp, templates, es6">
    <meta name="author" content="project name">

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    <link rel="icon" type="image/vnd.microsoft.icon" href="img/favicon.ico" />

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/animate.css/animate.css" />
    <!-- endbower -->
    <!-- endbuild -->
 
    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="/bower_components/animate.css/animate.min.css">

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body ng-controller="appController">
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <nav class="navbar-vertical navbar-default text-center animated slideInLeft" ng-controller="headerController">
      <a class="box logo pull-left" ui-sref="home.search">
        <img alt="Flex" src="images/flex.jpg">
      </a>
      <a class="box pull-right" ng-show="!auth" ng-click="open('sm')"><i class="zmdi zmdi-sign-in"></i>&nbsp;Login</a>
      <a class="box pull-right" ng-show="auth" ng-click="logout()"><i class="zmdi zmdi-sign-in"></i>&nbsp;Logout</a>
      <a class="box pull-right" ng-show="auth" ui-sref="approval"><i class="zmdi zmdi-calendar-check"></i>&nbsp;Approval</a>
      <div class="box pull-left user-auth" ng-show="auth">
        Welcome Adrian
      </div>
    </nav>

    <div class="wrapper">
      <div class="container-fluid">
        <div ui-view></div>
      </div>
    </div>

    {{> scripts }}

  </body>
</html>
