.details-head {
	background: $brand-primary;
	height: 100px;

	.btn-back,
	.btn-details {
		height: 100px;
		width: 100px;
		display: inline-block;
	}

	.btn-back {
		background: #222;
		color: #fff;
		display: block;
	    float: left;
	    text-align: center;
	    line-height: 100px;

	    &:hover,
	    &:focus {
	    	color: $brand-primary;
	    }
	}

	& > span { 
		font-size: $font-size-large; 
	    margin-left: 20px;
	    display: block;
	    float: left;
	    line-height: 100px;
	}

	.btn-details {
		background: darken($brand-primary, 5%);
		color: #fff;
		&:last-of-type {
			margin-left: -3px;
		}

		&:hover,
		&:focus {
			background: darken($brand-primary, 10%);
			color: $text-color;
		}
	}	
}

.table-book {
	& > thead > tr > th,
	& > tbody > tr > td {
		border: 0;
		padding: 8px;
	}

	& > thead > tr > th {
		background: transparent;
		color: $text-color;
	}
}

.calendar {
	.header {
		padding: 20px 0;
		background: $brand-primary;
		color: $text-color;
	}

	.table {
		& > thead > tr > th,
		& > tbody > tr > td {
			text-align: center;
			padding: 8px;

			// & > .days {
			// 	width: 15px;
			// 	height: 15px;
			// 	font-size: 10px;
			// 	color: #fff;
			// 	font-weight: 100;
			// 	font-style: normal;
			// 	background: $state-success-text;
			// }
		}

		& > tbody > tr > td {
			background: lighten($state-success-text, 50%);

			&.booked {
				background: lighten($state-danger-text, 40%);
			}

			&.not-available {
				background: #eee;	
			}

			&[data-toggle="modal"] {
				cursor: pointer;
			}
		}
	}
}

@media (max-width: 500px) {
	.details-head {
		height: 60px;

		.btn-back,
		.btn-details {
			height: 60px;
			width: 60px;
		}

		.btn-back {
		    line-height: 60px;
		}

		& > span { 
		    line-height: 60px;
		}	
	}
}