.navbar-vertical {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100vh;
	margin-bottom: 0;
	-webkit-box-shadow: 2px 0px 2px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 2px 0px 2px 0px rgba(0,0,0,0.2);
	box-shadow: 2px 0px 2px 0px rgba(0,0,0,0.2);

	.box {
		width: 100px;
		height: 100px;
		display: flex;
    	align-items: center;
    	justify-content: center;
	}

	.logo {
		background: #fff;

		&:hover,
		&:focus {
			background: none;
		}

		img {
			width: 50%;
			vertical-align: middle;
		} 
	}

	a {
		background: $brand-primary;
		color: $text-color;
		margin-bottom: 1px;

		&:hover,
		&:focus {
			background: darken($brand-primary, 10%);
			text-decoration: none;
		}
	}

	.navbar-right {
		margin-right: 0;

		& > li > a {
			width: 100px;
			text-align: center;
		}
	}
}

@media (max-width: 900px) {
	.navbar-vertical {
		height: auto;
		width: 100%;
		z-index: 100;

		.user-auth {
			width: auto;
		}

		a {
			margin-bottom: 0;
			margin-left: 1px;
		}
	}

}

@media (max-width: 500px) {
	.navbar-vertical {
		.user-auth {
			display: none;
		}
	}

}